@page "/"
@using ContactManagementSystem.Models
@inject ContactManagementSystem.Services.ContactService service


<div class="display-3">Contact List!</div>

@if (contacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Birth Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contacts)
            {
                <tr>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.BirthDate
                    </td>
                    <td>
                        <a href="./EditContact/@item.Id"><span class="oi oi-pencil" aria-hidden="true"></span> Edit</a> |
                         <a href="./DeleteContact/@item.Id"><span class="oi oi-trash" aria-hidden="true"></span> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code{
    List<ContactEntity> contacts;

    protected override async Task OnInitializedAsync()
    {
        contacts = await Task.Run(() => service.GetAll());
    }
}
